.circuit-content
    .leaderboard-container
        display flex
        justify-content center
        align-items center
        flex-direction column
        margin-bottom 1.5em

        &.has-no-score
            .no-score
                display block

        .leaderboard
            font-weight 700
            margin-top 20px
            margin-bottom 20px

            tr
                td
                    &:nth-child(1)
                        opacity 0.5
                        padding-right 30px
                        text-align center

                    &:nth-child(2)
                        padding-right 30px
                        
                    &:nth-child(3)
                        padding-right 30px
                        
        .no-score
            margin-top 30px
            display none
            font-weight 700
            
        .reset-time
            font-weight 700

    .racing-buttons
        display none

        &.is-active
            display flex