.circuit-end
    .content
        .your-time
            margin-top 0.5em
            margin-bottom 1em
            text-align center

            .value
                font-size 30px
                font-weight 900

        .or
            padding 12px

        .offline-element
            text-align center

        .not-top-10
            display block
            text-align center

        .input-group
        .or
            display none

    &.is-top-10
        .content
            .not-top-10
                display none

            .input-group
                display flex

            .or
                display block
